dj-rest-auth==5.0.1
django-allauth==0.57.0
django-appconf==1.0.5
django-celery-results==2.5.1
django-compress==1.0.1
django-compressor==4.3
django-cors-headers==4.2.0
django-environ==0.11.2
django-formtools==2.4
django-haystack==3.2.1
django-ipware==4.0.2
django-mdeditor==0.1.20
django-ratelimit==4.1.0
django-rest-auth==0.9.5
django-uuslug==2.0.0
django-widget-tweaks==1.4.12
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
Pillow==9.4.0
psycopg2==2.9.6
psycopg2-binary==2.9.6
pytest-django==4.5.2
python-dotenv==0.21.0
gptbase==0.3.1
beautifulsoup4==4.11.1
requests==2.28.1
gunicorn==21.2.0